<!DOCTYPE html>
<html lang='ja'>
    <head>
        <meta charset="UTF-8">
        <title>graph simulator</title>
        <meta name='description' content='visual simulation of matplotlib'>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link rel='stylesheet' href='../static/CSS/normalize.css'>
        <link rel='stylesheet' href='../static/CSS/main.css'>
    </head>

    <body>
        <div class='container'>
            <div>
                <h1>Graph Simulator</h1>
                <p>このサイトでは，matplotlibを用いてグラフを作成する際の参考として様々な色の組み合わせを試すことができます。</p>
                <p>まずはグラフの種類を選んでください。</p>
                <p>グラフの種類：
                    <select id=graph-type>
                        <option value="scatter" selected>散布図</option>
                        <option value="histogram">ヒストグラム</option>
                        <option value="line">曲線</option>
                    </select>
                </p>
            </div>

            <div id='scatter'>
                <div>
                    <p>データの種類の個数を選んでください。</p>
                    <p>種類数：
                        <input type="number" id=scat-num max=3 min=1 value=2>
                        ※1以上3以下
                    </p>
                </div>
                <div class='scat-color'>
                    <p>プロットする色を選んでください。</p>
                    <p id='scat-data1'>データ1：
                        <select id='scat-color1'>
                            <option value='black'>black</option>
                            <option value='lightgray'>lightgray</option>
                            <option value='rosybrown'>rosybrown</option>
                            <option value='lightcoral'>lightcoral</option>
                            <option value='firebrick'>firebrick</option>
                            <option value='maroon'>maroon</option>
                            <option value='red' selected>red</option>
                            <option value='salmon'>salmon</option>
                            <option value='orangered'>orangered</option>
                            <option value='chocolate'>chocolate</option>
                            <oprion value='darkorange'>darkorange</oprion>
                            <option value='goldenrod'>goldenrod</option>
                            <option value='olive'>olive</option>
                            <option value='chartreuse'>chartreuse</option>
                            <option value='lightgreen'>lightgreen</option>
                            <option value='green'>green</option>
                            <option value='springgreen'>springgreen</option>
                            <option value='turquoise'>turquoise</option>
                            <option value='teal'>teal</option>
                            <option value='skyblue'>skyblue</option>
                            <option value='dodgerblue'>dodgerblue</option>
                            <option value="navy">navy</option>
                            <option value='blue'>blue</option>
                            <option value='blueviolet'>blueviolet</option>
                            <option value='purple'>purple</option>
                        </select>
                    </p>
                    <p id='scat-data2'>データ2：
                        <select id='scat-color2'>
                            <option value='black'>black</option>
                            <option value='lightgray'>lightgray</option>
                            <option value='rosybrown'>rosybrown</option>
                            <option value='lightcoral'>lightcoral</option>
                            <option value='firebrick'>firebrick</option>
                            <option value='maroon'>maroon</option>
                            <option value='red' selected>red</option>
                            <option value='salmon'>salmon</option>
                            <option value='orangered'>orangered</option>
                            <option value='chocolate'>chocolate</option>
                            <oprion value='darkorange'>darkorange</oprion>
                            <option value='goldenrod'>goldenrod</option>
                            <option value='olive'>olive</option>
                            <option value='chartreuse'>chartreuse</option>
                            <option value='lightgreen'>lightgreen</option>
                            <option value='green' selected>green</option>
                            <option value='springgreen'>springgreen</option>
                            <option value='turquoise'>turquoise</option>
                            <option value='teal'>teal</option>
                            <option value='skyblue'>skyblue</option>
                            <option value='dodgerblue'>dodgerblue</option>
                            <option value="navy">navy</option>
                            <option value='blue'>blue</option>
                            <option value='blueviolet'>blueviolet</option>
                            <option value='purple'>purple</option>
                        </select>
                    </p>
                    <p id='scat-data3'>データ3：
                        <select id='scat-color3'>
                            <option value='black'>black</option>
                            <option value='lightgray'>lightgray</option>
                            <option value='rosybrown'>rosybrown</option>
                            <option value='lightcoral'>lightcoral</option>
                            <option value='firebrick'>firebrick</option>
                            <option value='maroon'>maroon</option>
                            <option value='red'>red</option>
                            <option value='salmon'>salmon</option>
                            <option value='orangered'>orangered</option>
                            <option value='chocolate'>chocolate</option>
                            <oprion value='darkorange'>darkorange</oprion>
                            <option value='goldenrod'>goldenrod</option>
                            <option value='olive'>olive</option>
                            <option value='chartreuse'>chartreuse</option>
                            <option value='lightgreen'>lightgreen</option>
                            <option value='green'>green</option>
                            <option value='springgreen'>springgreen</option>
                            <option value='turquoise'>turquoise</option>
                            <option value='teal'>teal</option>
                            <option value='skyblue'>skyblue</option>
                            <option value='dodgerblue'>dodgerblue</option>
                            <option value="navy">navy</option>
                            <option value='blue' selected>blue</option>
                            <option value='blueviolet'>blueviolet</option>
                            <option value='purple'>purple</option>
                        </select>
                    </p>
                </div>
                <div>
                    <p>右のボタンを押すとプロットできます。
                    <input type='button' id='scat-plot' value='plot'></p>
                </div>
            </div>

            <div id='histogram'>
                <div>
                    <p>データの種類の個数を選んでください。</p>
                    <p>種類数：
                        <input type="number" id=hist-num max=3 min=1 value=2>
                        ※1以上3以下
                    </p>
                </div>
                <div class='hist-color'>
                    <p>プロットする色を選んでください。</p>
                    <p id='hist-data1'>データ1：
                        <select id='hist-color1'>
                            <option value='black'>black</option>
                            <option value='lightgray'>lightgray</option>
                            <option value='rosybrown'>rosybrown</option>
                            <option value='lightcoral'>lightcoral</option>
                            <option value='firebrick'>firebrick</option>
                            <option value='maroon'>maroon</option>
                            <option value='red' selected>red</option>
                            <option value='salmon'>salmon</option>
                            <option value='orangered'>orangered</option>
                            <option value='chocolate'>chocolate</option>
                            <oprion value='darkorange'>darkorange</oprion>
                            <option value='goldenrod'>goldenrod</option>
                            <option value='olive'>olive</option>
                            <option value='chartreuse'>chartreuse</option>
                            <option value='lightgreen'>lightgreen</option>
                            <option value='green'>green</option>
                            <option value='springgreen'>springgreen</option>
                            <option value='turquoise'>turquoise</option>
                            <option value='teal'>teal</option>
                            <option value='skyblue'>skyblue</option>
                            <option value='dodgerblue'>dodgerblue</option>
                            <option value="navy">navy</option>
                            <option value='blue'>blue</option>
                            <option value='blueviolet'>blueviolet</option>
                            <option value='purple'>purple</option>
                        </select>
                    </p>
                    <p id='hist-data2'>データ2：
                        <select id='hist-color2'>
                            <option value='black'>black</option>
                            <option value='lightgray'>lightgray</option>
                            <option value='rosybrown'>rosybrown</option>
                            <option value='lightcoral'>lightcoral</option>
                            <option value='firebrick'>firebrick</option>
                            <option value='maroon'>maroon</option>
                            <option value='red' selected>red</option>
                            <option value='salmon'>salmon</option>
                            <option value='orangered'>orangered</option>
                            <option value='chocolate'>chocolate</option>
                            <oprion value='darkorange'>darkorange</oprion>
                            <option value='goldenrod'>goldenrod</option>
                            <option value='olive'>olive</option>
                            <option value='chartreuse'>chartreuse</option>
                            <option value='lightgreen'>lightgreen</option>
                            <option value='green' selected>green</option>
                            <option value='springgreen'>springgreen</option>
                            <option value='turquoise'>turquoise</option>
                            <option value='teal'>teal</option>
                            <option value='skyblue'>skyblue</option>
                            <option value='dodgerblue'>dodgerblue</option>
                            <option value="navy">navy</option>
                            <option value='blue'>blue</option>
                            <option value='blueviolet'>blueviolet</option>
                            <option value='purple'>purple</option>
                        </select>
                    </p>
                    <p id='hist-data3'>データ3：
                        <select id='hist-color3'>
                            <option value='black'>black</option>
                            <option value='lightgray'>lightgray</option>
                            <option value='rosybrown'>rosybrown</option>
                            <option value='lightcoral'>lightcoral</option>
                            <option value='firebrick'>firebrick</option>
                            <option value='maroon'>maroon</option>
                            <option value='red'>red</option>
                            <option value='salmon'>salmon</option>
                            <option value='orangered'>orangered</option>
                            <option value='chocolate'>chocolate</option>
                            <oprion value='darkorange'>darkorange</oprion>
                            <option value='goldenrod'>goldenrod</option>
                            <option value='olive'>olive</option>
                            <option value='chartreuse'>chartreuse</option>
                            <option value='lightgreen'>lightgreen</option>
                            <option value='green'>green</option>
                            <option value='springgreen'>springgreen</option>
                            <option value='turquoise'>turquoise</option>
                            <option value='teal'>teal</option>
                            <option value='skyblue'>skyblue</option>
                            <option value='dodgerblue'>dodgerblue</option>
                            <option value="navy">navy</option>
                            <option value='blue' selected>blue</option>
                            <option value='blueviolet'>blueviolet</option>
                            <option value='purple'>purple</option>
                        </select>
                    </p>
                </div>
                <div class='hist-alpha'>
                    <p>不透明度 (alpha) を決めてください。</p>
                    <p>不透明度：
                        <input type="number" id='hist-alpha-value' min=0 max=1 step=0.1 value=0.5>
                        ※0で完全に透明，1で完全に不透明
                    </p>
                </div>
                <div>
                    <p>右のボタンを押すとプロットできます。
                    <input type='button' id='hist-plot' value='plot'></p>
                </div>
            </div>

            <div id='line'>
                <div>
                    <p>曲線の本数を選んでください。</p>
                    <p>本数：
                        <input type="number" id=line-num max=3 min=1 value=2>
                        ※1以上3以下
                    </p>
                </div>
                <div>
                    <p>曲線の種類を選んでください。</p>
                    <p>曲線1：
                        <select id='curve1'>
                            <option value='sin'>sin</option>
                            <option value='cos'>cos</option>
                            <option value='exp'>exp</option>
                            <option value='log'>log</option>
                            <option value='sinh'>sinh</option>
                            <option value='cosh'>cosh</option>
                        </select>
                    </p>
                    <p>曲線2：
                        <select id='curve2'>
                            <option value='sin'>sin</option>
                            <option value='cos'>cos</option>
                            <option value='exp'>exp</option>
                            <option value='log'>log</option>
                            <option value='sinh'>sinh</option>
                            <option value='cosh'>cosh</option>
                        </select>
                    </p>
                    <p>曲線3：
                        <select id='curve3'>
                            <option value='sin'>sin</option>
                            <option value='cos'>cos</option>
                            <option value='exp'>exp</option>
                            <option value='log'>log</option>
                            <option value='sinh'>sinh</option>
                            <option value='cosh'>cosh</option>
                        </select>
                    </p>
                </div>
                <div class='line-color'>
                    <p>曲線の色を選んでください。</p>
                    <p id='line-data1'>曲線1：
                        <select id='line-color1'>
                            <option value='black'>black</option>
                            <option value='lightgray'>lightgray</option>
                            <option value='rosybrown'>rosybrown</option>
                            <option value='lightcoral'>lightcoral</option>
                            <option value='firebrick'>firebrick</option>
                            <option value='maroon'>maroon</option>
                            <option value='red' selected>red</option>
                            <option value='salmon'>salmon</option>
                            <option value='orangered'>orangered</option>
                            <option value='chocolate'>chocolate</option>
                            <oprion value='darkorange'>darkorange</oprion>
                            <option value='goldenrod'>goldenrod</option>
                            <option value='olive'>olive</option>
                            <option value='chartreuse'>chartreuse</option>
                            <option value='lightgreen'>lightgreen</option>
                            <option value='green'>green</option>
                            <option value='springgreen'>springgreen</option>
                            <option value='turquoise'>turquoise</option>
                            <option value='teal'>teal</option>
                            <option value='skyblue'>skyblue</option>
                            <option value='dodgerblue'>dodgerblue</option>
                            <option value="navy">navy</option>
                            <option value='blue'>blue</option>
                            <option value='blueviolet'>blueviolet</option>
                            <option value='purple'>purple</option>
                        </select>
                    </p>
                    <p id='line-data2'>曲線2：
                        <select id='line-color2'>
                            <option value='black'>black</option>
                            <option value='lightgray'>lightgray</option>
                            <option value='rosybrown'>rosybrown</option>
                            <option value='lightcoral'>lightcoral</option>
                            <option value='firebrick'>firebrick</option>
                            <option value='maroon'>maroon</option>
                            <option value='red' selected>red</option>
                            <option value='salmon'>salmon</option>
                            <option value='orangered'>orangered</option>
                            <option value='chocolate'>chocolate</option>
                            <oprion value='darkorange'>darkorange</oprion>
                            <option value='goldenrod'>goldenrod</option>
                            <option value='olive'>olive</option>
                            <option value='chartreuse'>chartreuse</option>
                            <option value='lightgreen'>lightgreen</option>
                            <option value='green' selected>green</option>
                            <option value='springgreen'>springgreen</option>
                            <option value='turquoise'>turquoise</option>
                            <option value='teal'>teal</option>
                            <option value='skyblue'>skyblue</option>
                            <option value='dodgerblue'>dodgerblue</option>
                            <option value="navy">navy</option>
                            <option value='blue'>blue</option>
                            <option value='blueviolet'>blueviolet</option>
                            <option value='purple'>purple</option>
                        </select>
                    </p>
                    <p id='line-data3'>曲線3：
                        <select id='line-color3'>
                            <option value='black'>black</option>
                            <option value='lightgray'>lightgray</option>
                            <option value='rosybrown'>rosybrown</option>
                            <option value='lightcoral'>lightcoral</option>
                            <option value='firebrick'>firebrick</option>
                            <option value='maroon'>maroon</option>
                            <option value='red'>red</option>
                            <option value='salmon'>salmon</option>
                            <option value='orangered'>orangered</option>
                            <option value='chocolate'>chocolate</option>
                            <oprion value='darkorange'>darkorange</oprion>
                            <option value='goldenrod'>goldenrod</option>
                            <option value='olive'>olive</option>
                            <option value='chartreuse'>chartreuse</option>
                            <option value='lightgreen'>lightgreen</option>
                            <option value='green'>green</option>
                            <option value='springgreen'>springgreen</option>
                            <option value='turquoise'>turquoise</option>
                            <option value='teal'>teal</option>
                            <option value='skyblue'>skyblue</option>
                            <option value='dodgerblue'>dodgerblue</option>
                            <option value="navy">navy</option>
                            <option value='blue' selected>blue</option>
                            <option value='blueviolet'>blueviolet</option>
                            <option value='purple'>purple</option>
                        </select>
                    </p>
                </div>
                <div>
                    <p>右のボタンを押すとプロットできます。
                    <input type='button' id='line-plot' value='plot'></p>
                </div>
            </div>

            <div class='image'>
                <img id='plotimg'>
                <div id='sample'>
                    <h2>色の凡例</h2>
                    <img src='../static/colorpalette.png' width="800" height="500">
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="/static/JS/plotscat.js"></script>
    <script type="text/javascript" src="/static/JS/plothist.js"></script>
    <script type="text/javascript" src="/static/JS/plotline.js"></script>
    <script type="text/javascript" src="/static/JS/viewcontrol.js"></script>
</html>